* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", Arial, Sans-serif;
  font-size: 1.6rem;
}

.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

header {
  width: 100%;
  background: url("../img/bg.jpg") #281a0c;
  background-size: cover;
  background-attachment: fixed;
  background-position: center 0;
}
header .contenedor {
  position: relative;
  height: 700px;
}
header .contenedor nav {
  width: 100%;
  text-align: right;
}
header .contenedor nav a {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  display: inline-block;
  margin: 40px 20px;
  text-decoration: none;
  position: relative;
}
header .contenedor nav a:hover {
  text-decoration: underline;
}
header .header__textos {
  width: 100%;
  color: #fff;
  position: absolute;
  top: 50%;
}
header .header__textos--titulo {
  font-size: 5rem;
  font-weight: 600;
}
header .header__textos--titulo span {
  font-weight: 300;
}
header .header__textos--subtitulo {
  font-weight: 300;
  font-size: 2.5rem;
  font-style: italic;
}

main {
  background: url("../img/bg-textura.png");
  background-repeat: repeat;
}

.acerca-de .contenedor {
  overflow: visible;
  position: relative;
}
.acerca-de .contenedor article {
  background-color: #fff;
  padding: 40px;
  width: 50%;
  position: relative;
  top: 500px;
  z-index: 1;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35);
  float: right;
}
.acerca-de .contenedor article h3 {
  font-size: 5rem;
  font-weight: 300;
  margin-bottom: 40px;
}
.acerca-de .contenedor article p {
  line-height: 28px;
  margin-bottom: 15px;
}
.acerca-de__foto {
  width: 80%;
  position: absolute;
  left: 0;
  top: -50px;
  z-index: 0;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35);
}
.acerca-de__foto img {
  width: 100%;
  vertical-align: top;
}

.menu {
  padding-top: 570px;
  margin-bottom: 50px;
}
.menu h3 {
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 40px;
}
.menu__contenedor, .menu__contenedor2 {
  border: 1px solid #000;
  background: transparent;
  padding: 10px;
  overflow: hidden;
}
.menu__contenedor2 {
  display: flex;
}
.menu__contenedor2 article {
  padding: 20px;
}
.menu__categoria {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
}
.menu__platillo {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 4px dotted #000;
  overflow: hidden;
  display: grid;
  grid-template-columns: 11fr 1fr;
}
.menu__platillo--nombre {
  font-size: 20px;
  margin-bottom: 15px;
}
.menu__platillo--precio {
  font-size: 2rem;
  margin-bottom: 15px;
}
.menu__platillo--descripcion {
  font-size: 1.6rem;
  color: #676767;
  grid-column: 1/3;
}

.galeria {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.galeria .foto img {
  width: 100%;
  vertical-align: top;
  opacity: 0.7;
}
.galeria .foto img:hover {
  opacity: 1;
  transition: all 0.5s ease;
}

.ubicacion {
  background-color: #fff;
  padding: 60px 0;
}
.ubicacion__titulo {
  text-align: center;
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 300;
  margin-bottom: 40px;
}
.ubicacion .contenedor {
  display: flex;
}
.ubicacion__direccion {
  width: 50%;
}
.ubicacion__direccion--calle {
  margin-bottom: 15px;
}
.ubicacion__horarios {
  width: 50%;
  text-align: center;
}
.ubicacion__horarios h4 {
  margin-bottom: 20px;
}
.ubicacion__horarios--contenedor {
  display: flex;
}
.ubicacion__horarios--entre-semana, .ubicacion__horarios--fin-semana {
  width: 50%;
}

.mapa {
  width: 100%;
  overflow: hidden;
}
.mapa iframe {
  width: 100%;
  max-height: 600px;
}

footer {
  background-color: #000;
}
footer .footer__copyright {
  text-align: center;
  padding: 15px 0;
  color: #fff;
}

@media (max-width: 800px) {
  header .contenedor {
    position: static;
    height: auto;
  }
  header .contenedor nav {
    text-align: center;
    margin-bottom: 150px;
  }
  header .contenedor nav a {
    margin: 10px 15px;
  }
  header .header__textos {
    position: static;
    margin: 0 0 100px 0;
  }
  header .header__textos--titulo {
    font-size: 3rem;
  }
  header .header__textos--subtitulo {
    font-size: 1.8rem;
  }
  .acerca-de .contenedor article {
    position: relative;
    width: 100%;
    top: -50px;
    transform: translate(0px, 0);
  }
  .acerca-de__foto {
    width: 100%;
    position: relative;
  }
  .menu {
    padding-top: 300px;
  }
  .menu__contenedor2 {
    flex-direction: column;
  }
  .mapa {
    width: 80%;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  header .contenedor nav {
    text-align: left;
    display: flex;
    justify-content: space-around;
  }
  header .contenedor nav a {
    margin: 0;
    font-size: 1.6rem;
  }
  .acerca-de .contenedor article h3 {
    font-size: 3.4rem;
    margin-bottom: 10px;
  }
  .menu__platillo--nombre, .menu__platillo--precio {
    font-size: 1.6rem;
    line-height: 16px;
  }
  .ubicacion .contenedor {
    flex-direction: column;
  }
  .ubicacion__direccion {
    margin-bottom: 15px;
  }
  .ubicacion__direccion, .ubicacion__horarios {
    width: 100%;
    text-align: center;
  }
}

/*# sourceMappingURL=bundle.css.map */
