.galeria {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

    .foto {
        
        img {
            width: 100%;
            vertical-align: top;
            opacity: .7;

            &:hover {
                opacity: 1;
                transition: all .5s ease;
            }
        }
        
    }
}